alias ccc='ssh-add && ssh -A -l n3556'
alias ccl='ccc -p 3022'
alias manfrotto='ccl 54.202.123.19'
alias psfu='ps -fu$(whoami)'
alias ll='ls -l'
alias la='ls -la'
alias neengit='cd ~/Git/neen/'
alias almagit='cd ~/Git/almakua/'
alias lookathome='ccc 194.68.42.88 -p 2222'
alias lookatmysql='ccc 194.68.42.88 -p 2223'
alias pwn='ccc ne250.neen.cloud'
#alias escapology='ssh -i ~/.ssh/scaleway root@51.15.116.245'
alias escapology='ssh  root@51.15.116.245'
alias bub='ssh-add && ssh -A -l ubuntu'
alias locu='ssh root@85.159.150.33'
